html {
    background-color: #E6CD55;
}

header {
    display: flex;
    background-color: #E6493E;
    justify-content: space-between;
    padding: 1%;
}

header img {
    height: 80px;
}

header h1 {
    padding-left: 10px;
}

h1, h2, h3 {
    font-family: 'Sansita Swashed', cursive;
    color: #2a2a2a;
}

p, input, li {
    font-family: 'Sansita Swashed', sans-serif;
    color: #2a2a2a;
}

footer {
    background-color: #E6493E;
    padding: 1%;
}